			#cmd {
				width: 835px;
				height: 15px;
				vertical-align: middle;
			}

			.panel, .flip {
				padding: 5px;
				background-color: #dbdbdb;
				border: solid 1px #c3c3c3;
				width: 900px;
			}

			.panel {
				display: none;
			}

			.delete {
				margin-left: 50px;
			}

			.stdout {
				background-color: #bfff00;
			}

			.stderr {
				background-color: red;
			}

			#notif {
				padding: 5px;
				border: solid 1px gray;
				margin: 5px;
				width: 900px;
				display: none;
				cursor: pointer;
			}

			.notiferr {
				background-color: #fc5353;
			}

			.notifsucc {
				background-color: #52f987;
			}

			body>* {
				margin: 5px;
			}